<div class="container mat-elevation-z8">
  <div class="filter-container">
    <mat-form-field appearance="fill">
      <mat-label>From Currency</mat-label>
      <mat-select [(value)]="selectedBasedCurrency" (selectionChange)="loadCurrencyRates()">
        <mat-option *ngFor="let currency of currencySymbols" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <mat-select [(value)]="filterValue" multiple (closed)="applyFilter()">
        <mat-option *ngFor="let currency of currencySymbols" [value]="currency"
          [disabled]="currency === selectedBasedCurrency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <table *ngIf="!isLoading" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.toCurrency.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.toCurrency.name}} </td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef>
        Rate
        <mat-icon matTooltip="in 'From currency'" matTooltipPosition="below" class="tooltip-icon">info</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.rate}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="handlePage($event)"
    [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
